fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
PyJWT
passlib[bcrypt]
python-multipart
requests
curl_cffi
redis
python-docx
pdfplumber
elasticsearch
elasticsearch-dsl
openai
xxhash
numpy
jieba
tiktoken
datrie; platform_system != "Windows"
hanziconv
nltk
chardet
pillow
markdown
python-pptx
openpyxl
readability-lxml
html-text
pandas
beartype
huggingface_hub
onnxruntime
opencv-python-headless
tika
llama-index-core
llama-index-postprocessor-dashscope-rerank
demjson3
xpinyin
beautifulsoup4
xgboost
pypdf
shapely
pyclipper
chromadb
